a.overridden-hint-list-toggle {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    text-decoration: none;
}
a.overridden-hint-list-toggle:hover {
    text-decoration: none;
}
a.overridden-hint-list-toggle > span {
    text-indent: -9999px;
    white-space: nowrap;
    display: inline-block;
}
a.overridden-hint-list-toggle::before{
    color: #eb5202;
    content: '\e623';
    font-family: "Admin Icons";
}
.overridden-hint-list {
    display: none;
}
.overridden-hint-list li {
    display: none;
}

/* visible state */
.overridden-hint-list.visible {
    display: block;
}
.overridden-hint-list.visible li {
    display: block;
}
